#mod-modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby="modModal", aria-hidden="true")
  .modal-dialog(role='document')
    .modal-content
      .modal-header
        h5.modal-title Add Module
        button.close(type='button', data-dismiss='modal')
          span(aria-hidden='true') &times;
      .modal-body
        form#mod-form(action="/mods/add", method='POST', style='margin: 0 auto; width: 75%;')
          .input-group.selector-group
            .form-check.form-check-inline
              label.form-check-label
                input.form-check-input(type='radio', name='paid', value='false', checked)
                | Free
            .form-check.form-check-inline
              label.form-check-label
                input.form-check-input(type='radio', name='paid', value='true')
                | Paid
          .input-group
            span.input-group-addon
              i.fa.fa-bookmark(style='heigth: 12px; width: 12px;')
            input.form-control(type='text', name='name', placeholder='Module Name', required)
          input(type='hidden', name='_csrf', value= csrftoken)
          .input-group
            span.input-group-addon
              i.fa.fa-code-fork(style='heigth: 12px; width: 12px;')
            input.form-control(type='text', name='version', placeholder='Version', required)
          .input-group
            span.input-group-addon
              i.fa.fa-github(style='heigth: 12px; width: 12px;')
            input.form-control(type='text', name='repository', placeholder='Repository', required)
          .input-group
            span.input-group-addon
              i.fa.fa-picture-o(style='heigth: 12px; width: 12px;')
            input.form-control(type='text', name='image', placeholder='Module Image')
          .input-group
            span.input-group-addon
              i.fa.fa-file-text(style='heigth: 12px; width: 12px;')
            input.form-control(type='text', name='readme', placeholder='Optional Readme')
          .input-group
            span.input-group-addon
              i.fa.fa-cloud-download(style='heigth: 12px; width: 12px;')
            input.form-control(type='text', name='download', placeholder='Optional Download Link')
          .input-group
            span.input-group-addon
              i.fa.fa-tags(style='heigth: 12px; width: 12px;')
            input.form-control(type='text', name='tags', placeholder='Tags (separate with a comma)')
          .input-group.selector-group
            .form-check.form-check-inline
              label.form-check-label
                input.form-check-input(type='radio', name='type', value='Proxy')
                | Proxy
            .form-check.form-check-inline
              label.form-check-label
                input.form-check-input(type='radio', name='type', value='UI')
                | UI
            .form-check.form-check-inline
              label.form-check-label
                input.form-check-input(type='radio', name='type', value='Costume')
                | Costume
            .form-check.form-check-inline
              label.form-check-label
                input.form-check-input(type='radio', name='type', value='None', checked)
                | None
          .form-group
            button.btn.btn-block.btn-primary.text-center(type='submit', style='cursor: pointer; margin-top: 10px;')
              i.fa.fa-sign-in(style='padding-right: 5px;;')
              | Submit
      .modal-footer.text-center.figure-caption.text-muted
        span Goosedb, TERA mods database, created by Saegusa 2017.