doctype html
html
  head
    title= 'Goose.db | ' + title
    block styles
      link(rel='stylesheet', href='/style.css')
      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/font-awesome.min.css')
      block userStyles

    block scripts
      script(src='/js/jquery-3.2.1.min.js')
      script(src='/js/popper.min.js')
      script(src='/js/bootstrap.min.js')
      block userScripts

    block vars
      - var page = 'home'

  body
    .navbar.navbar-toggleable-md.fixed-top.navbar-light.bg-primary