doctype html
html
  head
    title= 'Goose.db | ' + title
    meta(http-equiv='Content-Type', content='text/html', charset='ISO-8859-1')

    block styles
      link(rel='stylesheet', href='/style.css')
      link(rel='stylesheet', href='/css/main.css')
      link(rel='stylesheet', href='/css/bootstrap.min.css')
      link(rel='stylesheet', href='/css/font-awesome.min.css')
      link(rel='stylesheet', href='/css/tether.min.css')
      block userStyles

    block scripts
      script(src='/js/jquery-3.2.1.min.js')
      script(src='/js/popper.min.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/tether.min.js')
      block userScripts

    block vars
      - var page = 'home'

  body
    .navbar.navbar-toggleable-md.fixed-top.navbar-light.bg-primary
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
      .container
        #navbarResponsive.collapse.navbar-collapse
          a.navbar-brand(href='/') Goose.db
          ul.navbar-nav
            li.nav-item(class=(page === 'home' ? 'active' : ''))
              a.nav-link(href='/') Home
            li.nav-item(class=(page === 'mods' ? 'active' : ''))
              a.nav-link(href='/mods') Mods
            li.nav-item(class=(page === 'users' ? 'active' : ''))
              a.nav-link(href='/users') Users
            li.nav-item(class=(page === 'about' ? 'active' : ''))
              a.nav-link(href='/about') About
          if !user
            ul.nav.navbar-nav.ml-auto
              li.nav-item(class=(page === 'login' ? 'active' : ''))
                a.nav-link(data-toggle='modal', data-target='#login-modal', style='cursor: pointer;') Login
              li.nav-item(class=(page === 'register' ? 'active' : ''))
                a.nav-link(href='/register') Register
          else
            ul.nav.navbar-nav.ml-auto
              li.nav-item.dropdown(class=(page === 'profile' ? 'active' : ''))
                a.nav-link.dropdown-toggle(data-toggle='dropdown', style='cursor: pointer;')= user.username
                  span.caret
                .dropdown-menu
                  if ranks && ranks[user.rank].roles.indexOf('addMod') > -1
                    a.dropdown-item(href='#', data-toggle='modal', data-target='#mod-modal')
                      i.fa.fa-plus.fa-fw.dd-icon
                      | Add Mod
                  if ranks && ranks[user.rank].roles.indexOf('reportBug') > -1
                    a.dropdown-item(href='#', data-toggle='modal', data-target='#bug-modal')
                      i.fa.fa-bug.fa-fw.dd-icon
                      | Report an Issue
                  .dropdown-divider
                  a.dropdown-item(href='/profile')
                    i.fa.fa-user.fa-fw.dd-icon
                    | Profile
                  if ranks && ranks[user.rank].roles.indexOf('panelAccess') > -1
                    a.dropdown-item(href='/admin')
                      i.fa.fa-bar-chart.fa-fw.dd-icon
                      | Admin Panel
                  a.dropdown-item(href='/profile')
                    i.fa.fa-cog.dd-icon
                    | Settings
                  .dropdown-divider
                  a.dropdown-item(href='/logout')
                    i.fa.fa-sign-out.fa-fw.dd-icon
                    | Logout
    if !user
      include addon_login
    else
      if ranks && ranks[user.rank].roles.indexOf('addMod') > -1
        include addon_mod

    .container.content
      block content