.content {
  padding-top: 90px;
}

.content > .nav-pills {
  margin-bottom: 20px;
}

.return-message {
  font-size: 16px;
}

.repo-link-github:before {
  font-family: FontAwesome;
  content: '\f092';
  padding-right: 4px;
}

.repo-link-bitbucket:before {
  font-family: FontAwesome;
  content: '\f172';
  padding-right: 4px;
}

.fav-link:before {
  font-family: FontAwesome;
  content: '\f005';
  padding-right: 6px;
}

.list-link:before {
  font-family: FontAwesome;
  content: '\f0ca';
  padding-right: 6px;
}

.email-link:before {
  font-family: FontAwesome;
  content: '\f0e0';
  padding-right: 6px;
}

.rank-link:before {
  font-family: FontAwesome;
  content: '\f0c0';
  padding-right: 6px;
}

.discord-link:before {
  font-family: FontAwesome;
  content: '\f086';
  padding-right: 6px;
}

.status-online {
  color: #0A0;
}

.status-offline {
  color: #A00;
}

.status-away {
  color: #AA0;
}

table.mod-list {
  border: 1px solid #ddd;
  font-size: 14px;
}

table.mod-list thead th {
  position: relative;
  background-image: none !important;
  font-weight: bold;
}

table.mod-list tbody tr td {
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 600px;
}

table.mod-list > tbody > tr:nth-child(odd) {
  background: rgba(0,0,0,.025);
}

table.mod-list > tbody > tr:nth-child(odd):hover {
  background: rgba(0,0,0,.06);
}

table.mod-list tbody tr td a {
  text-decoration: none;
}

table.table-staff,
table.table-user {
  border: 1px solid #ddd;
  font-size: 14px;
}

table.table-staff td,
table.table-user td {
  vertical-align: middle;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 600px;
}

table.table-staff th,
table.table-user th {
  position: relative;
  background-image: none !important;
  font-weight: bold;
}

a.mod-download i {
  display: inline-block;
  width: 100%;
  padding-left: 25px;
}

.mod-search {
  background-image: url('/img/goose.png');
  background-position: 10px 12px;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 46px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#login-form > .input-group,
#login-form > .form-group {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 10px;
}

#mod-form > .input-group,
#mod-form > .form-group {
  width: 75%;
  margin: 0 auto;
  padding-bottom: 12px;
}

#login-form .input-group > input::-webkit-input-placeholder,
#mod-form .input-group > input::-webkit-input-placeholder {
  color: rgba(0,0,0,.5);
}

.selector-group {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.selector-group > .form-check-inline:first-of-type {
  margin: 0 auto;
  padding-left: 0;
}

.selector-group > .form-check-inline {
  margin: 0 auto;
  padding-left: 5px;
}

.register-card {
  margin: 0 auto;
  width: 30rem;
}

.register-card .input-group {
  margin: 0 auto;
  width: 80%;
  padding-bottom: 10px;
}

.register-card .input-group > input::-webkit-input-placeholder,
.register-card .input-group > textarea::-webkit-input-placeholder {
  color: rgba(0,0,0,.5);
}

.register-card .form-group {
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.dd-icon {
  padding-right: 6px;
  margin-right: 6px;
}

.profile-image {
  max-width: 250px;
  max-height: 300px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.col-scroll {
  height: 90vh;
  overflow-y: scroll;
}